$main-color: #0F172B;
$main-color-hover: #182545;

.inicio:hover, .sobre-mi:hover, .proyectos:hover, .contacto:hover {
  color: $main-color-hover;
}

header {
  background-color: white;
}

.seccion-actual-mobile {
  color: $main-color;
  padding: 10px;
  text-align: center;
  display: none;
}

@media (max-width: 768px) {
  .seccion-actual-mobile {
    display: block;
  }
}
