<header class="p-4 sticky top-0 z-50 bg-white">
  <nav class="container mx-auto flex justify-between items-center">
    <h1 class="main-color ml-3 text-2xl font-bold select-none">Gorka Ruiz</h1>

    <!-- Menú para pantallas grandes -->
    <ul class="hidden md:flex md:flex-row md:space-x-4">
      <li><a class="inicio uppercase texto-principal hover:texto-principal-hover" (click)="onSectionClick('inicio')">Inicio</a></li>
      <li><a class="sobre-mi uppercase texto-principal hover:texto-principal-hover" (click)="onSectionClick('sobre-mi')">Sobre mí</a></li>
      <li><a class="proyectos uppercase texto-principal hover:texto-principal-hover" (click)="onSectionClick('experiencia')">Experiencia</a></li>
      <li><a class="contacto uppercase texto-principal hover:texto-principal-hover" (click)="onSectionClick('contacto')">Contacto</a></li>
    </ul>

    <!-- Botón de hamburguesa para móviles -->
    <button class="md:hidden relative w-6 h-6 flex items-center justify-center mr-2" (click)="toggleMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 absolute transition-all duration-300 ease-in-out main-color" [ngClass]="{'opacity-0 rotate-90': menuAbierto, 'opacity-100 rotate-0': !menuAbierto}" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 absolute transition-all duration-300 ease-in-out main-color" [ngClass]="{'opacity-100 rotate-0': menuAbierto, 'opacity-0 -rotate-90': !menuAbierto}" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </nav>

  <!-- Menú móvil -->
  <div class="md:hidden" [ngClass]="{'hidden': !menuAbierto}">
    <ul class="mt-2 p-2 space-y-2 pb-4">
      <li><a class="block main-color inicio uppercase py-1 font-roboto text-base" (click)="cerrarMenu()" (click)="onSectionClick('inicio')">Inicio</a></li>
      <li><a class="block main-color sobre-mi uppercase py-1 font-roboto text-base" (click)="cerrarMenu()" (click)="onSectionClick('sobre-mi')">Sobre mí</a></li>
      <li><a class="block main-color proyectos uppercase py-1 font-roboto text-base" (click)="cerrarMenu()" (click)="onSectionClick('experiencia')">Experiencia</a></li>
      <li><a class="block main-color contacto uppercase py-1 font-roboto text-base" (click)="cerrarMenu()" (click)="onSectionClick('contacto')">Contacto</a></li>
    </ul>
  </div>
</header>
