#contacto {
  color: black;
  font-family: Arial, sans-serif;

  h2 {
    color: #ccd6f6;
    margin-bottom: 40px;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-bottom: 2px solid #64ffda;
    padding-bottom: 10px;
  }
}
