<section id="sobre-mi-box" class="w-full bg-navy-900 text-white">
  <div class="container mx-auto pb-8 md:pb-16">
    <div class="flex flex-col md:flex-row justify-center items-center w-full ">
      <div class="hidden xl:flex xl:flex-col xl:items-center xl:mb-14 xl:w-1/2">
        <img src="https://img.freepik.com/psd-premium/retrato-sonriente-hombre-dibujos-animados-3d-aislado-sobre-fondo-transparente-png-psd_888962-1570.jpg" alt="Foto de Gorka Ruiz" class="w-64 h-64 rounded-full">
      </div>
      <!-- <div class="max-w-4xl mx-auto space-y-6 md:space-y-8 md:px-6"> -->
      <div class="flex flex-col items-center w-full xl:w-1/2">
        <p class="text-base mb-14 md:text-lg leading-relaxed text-justify">
          <span class="hidden md:inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span class="md:hidden">&nbsp;&nbsp;&nbsp;</span>
          Soy <span class="font-semibold">Gorka Ruiz</span>, desarrollador de software con más de tres años de experiencia en crear soluciones innovadoras y efectivas para desafíos técnicos complejos. Mi enfoque combina creatividad, trabajo en equipo y una comunicación clara para asegurar el éxito en cada proyecto, cumpliendo plazos y superando expectativas. Con una sólida formación como <span class="font-semibold">Técnico Superior en Desarrollo de Aplicaciones Web</span> y <span class="font-semibold">Técnico Superior en Desarrollo de Aplicaciones Multiplataforma</span>, he trabajado en empresas como <span class="font-semibold">PKF Attest, Altia, Didaktiker y Nextret</span>, participando en desarrollo de sistemas complejos, optimización de procesos empresariales y proyectos de migración de aplicaciones.
        </p>

        <p class="text-base md:text-lg leading-relaxed text-justify">
          <span class="hidden md:inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span class="md:hidden">&nbsp;&nbsp;&nbsp;</span>
          Me especializo en el desarrollo de aplicaciones web con tecnologías como
          <span class="text-blue-300">Angular</span>,
          <span class="text-blue-300">Typescript</span> y
          <span class="text-blue-300">SCSS</span>, junto con el uso de herramientas de gestión y control de versiones como
          <span class="text-green-300">GIT</span> y
          <span class="text-green-300">Jira</span> y despliegues
          <span class="text-green-300">CI/CD</span>. Me considero un solucionador de problemas versátil, apasionado por la tecnología y comprometido con aportar ideas frescas y prácticas avanzadas. Además, me gusta aprender otros frameworks como puede ser
          <span class="text-blue-400">React</span> y mantengo un interés activo en explorar nuevas tecnologías de frontend como
          <span class="text-yellow-300">Astro</span> y
          <span class="text-yellow-300">Next.js</span> para seguir optimizando mis proyectos y estar siempre a la vanguardia.
        </p>
      </div>
    </div>
  </div>
</section>
