<section id="sobre-mi" class="w-full min-h-screen bg-navy-900 text-white p-4 md:p-8">
  <div class="container mx-auto px-4 md:px-8 py-8 md:py-16">
    <h2>SOBRE MÍ</h2>


    <div class="max-w-4xl mx-auto space-y-6 md:space-y-8 md:px-6">
      <p class="text-base md:text-lg leading-relaxed text-justify">
        <span class="hidden md:inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span class="md:hidden">&nbsp;&nbsp;&nbsp;</span>
        Soy <span class="font-semibold">Gorka Ruiz</span>, un desarrollador de software con más detres años de experiencia en crear soluciones innovadoras y efectivas para desafíos técnicos complejos. Mi enfoque combina creatividad, trabajo en equipo y una comunicación clara para asegurar el éxito en cada proyecto, cumpliendo plazos y superando expectativas. Con una sólida formación como Técnico Superior en Desarrollo de Aplicaciones Web y Multiplataforma, he colaborado en empresas como <span class="font-semibold">PKF Attest, Altia, Didaktiker y Nextret</span>, participando en desarrollo de sistemas complejos, optimización de procesos empresariales y proyectos de migración de aplicaciones.
      </p>

      <p class="text-base md:text-lg leading-relaxed text-justify">
        <span class="hidden md:inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span class="md:hidden">&nbsp;&nbsp;&nbsp;</span>
        Me especializo en el desarrollo de aplicaciones web con tecnologías como
        <span class="text-blue-300">Angular</span>,
        <span class="text-blue-300">Typescript</span> y
        <span class="text-blue-300">SCSS</span>, junto con el uso de herramientas de gestión y control de versiones como
        <span class="text-green-300">GIT</span> y
        <span class="text-green-300">Jira</span> y despliegues
        <span class="text-green-300">CI/CD</span>. Me considero un solucionador de problemas versátil, apasionado por la tecnología y comprometido con aportar ideas frescas y prácticas avanzadas. Además, me gusta aprender otros frameworks como puede ser
        <span class="text-blue-400">React</span> y mantengo un interés activo en explorar nuevas tecnologías de frontend como
        <span class="text-yellow-300">Astro</span> y
        <span class="text-yellow-300">Next.js</span> para seguir optimizando mis proyectos y estar siempre a la vanguardia.
      </p>
    </div>
  </div>
</section>
