<app-header (sectionSelected)="scrollToSection($event)"></app-header>

<div class="contenedor-principal md:px-12">
  <div id="inicio" class="contenido">
    <app-inicio></app-inicio>
    <div id="sobre-mi">
        <h2 class="sticky-menu uno">SOBRE MÍ</h2>
        <app-sobre-mi></app-sobre-mi>
    </div>
    <div id="experiencia">
        <h2 class="sticky-menu dos z-10">EXPERIENCIA</h2>
        <app-experiencia></app-experiencia>
    </div>
    <div id="contacto">
        <h2 class="sticky-menu tres">CONTACTO</h2>
        <app-contacto></app-contacto>
    </div>
  </div>
</div>

<app-footer></app-footer>
