// Asumiendo que tienes un contenedor principal (por ejemplo, el body o un div que envuelve todo)
body, .contenedor-principal {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
}

.contenido {
  position: relative;
  background-color: #0F172B;
  flex-grow: 1;
  padding: 40px;

  h2 {
    color: #ccd6f6;
    margin-bottom: 40px;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-bottom: 2px solid #64ffda;
    padding: 10px 0 10px 0;
  }

  .sticky-menu{
    position: sticky;
    width: 100%;
    margin-top: 50px;
    top: 64px;
    color: white;
    font-size:30px;
    background-color: #0F172B;
  }

  .one{
    z-index: 3;
  }

  .two{
    z-index: 2;
  }

  .three{
    z-index: 1;
  }

}

