<app-header (sectionSelected)="scrollToSection($event)"></app-header>

<div class="contenedor-principal md:px-40">
  <div class="contenido">
    <app-inicio id="inicio"></app-inicio>
    <h2 class="sticky-menu uno">SOBRE MÍ</h2>
    <app-sobre-mi id="sobre-mi"></app-sobre-mi>
    <h2 class="sticky-menu dos">EXPERIENCIA</h2>
    <app-experiencia id="experiencia"></app-experiencia>
    <h2 class="sticky-menu tres">CONTACTO</h2>
    <app-contacto id="contacto"></app-contacto>
  </div>
</div>

<app-footer></app-footer>
