<section id="experiencia-box" class="experiencia-box mb-16">
  <div class="proyecto" *ngFor="let experiencia of cv">
    <div class="fecha">{{ experiencia.fechaInicio }} — {{ experiencia.fechaFin }}</div>
    <div class="contenido">
      <h3>{{ experiencia.titulo }}</h3>
      <p class="subtitulo mt-3" *ngIf="experiencia.empresa">{{ experiencia.empresa }}</p>
      <p class="descripcion">{{ experiencia.descripcion }}</p>
      <div class="tecnologias mb-5">
        <span *ngFor="let tecnologia of experiencia.tecnologias; let i = index"
              class="tecnologia"
              [attr.data-index]="i">
          {{ tecnologia }}
        </span>
      </div>
    </div>
  </div>
</section>
