<section class="mb-28 md:mt-28">
  <div class="flex flex-col md:flex-row justify-center items-center w-full gap-8 md:gap-0">
    <div class="flex flex-col items-center w-full md:w-1/2 mt-16 md:mt-0">
      <h1 class="text-6xl md:text-8xl font-bold text-center mt-8 md:mt-16">Gorka Ruiz</h1>
      <h2 class="text-3xl md:text-4xl font-medium text-center mt-4">Desarrollador Web</h2>
    </div>
    <div class="flex flex-col items-center w-full md:w-1/2 mt-16">
      <img
        [src]="'src/assets/img/gorka2.PNG'"
        alt="Foto de perfil de Gorka Ruiz"
        class="w-64 h-64 bg-slate-800"
        referrerpolicy="no-referrer"
        onerror="this.src='https://via.placeholder.com/256'"
      >
    </div>
  </div>
</section>
